.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.bottom {
  display: flex;
  justify-content: center;
  bottom: 50px;
  width: 100%;
  position: absolute;
}

.bottom button {
  background: #F1C3C3;
  color: #505050;
  padding: 10px 50px;
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.bottom button:active {
  background: #f1b2b2;
}

.top {
  display: flex;
  justify-content: flex-start;
  top: 10px;
  left: 10px;
  width: 100%;
  position: absolute;
}

.top button {
  background: #F1C3C3;
  color: #505050;
  padding: 4px 8px;
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

button:focus {
  outline: 0;
}